header
{
    width: 900px;
    margin: auto;
}
main
{
    width: 900px;
    margin: auto;
}
#titre
{
    font-style: 13px;
    margin-top: 10px;
}
#global
{
    width: 994px;
    background-color: white;
    box-shadow: 5px grey;
}
img
{
    width: 900px;
    height: 508px;
    margin-top: 25px;
}
h1
{
    font-size: 52px;
    font-family: 'Dosis', sans-serif;
    color: #505050;
}
p
{
    font-family: "Helvetica Neue";
    font-size: 13px;
}
nav
{
    font-size: 13px;
    margin-top: 25px;
    text-align: center;
    background-color: #FAFAFA;
    height: 41px;
    padding-top: 18px
}
nav li
{
text-align: center;
}

}
nav a
{
display: inline;

}
li:hover ul.navbar, li li:hover
{
    display: block;
}
body
{
    background-image:url(bg.png);
    background-size: cover;
}
h2
{
    font-size: 28px;
    font-family: 'Dosis', sans-serif;
    margin-top: 38px;
    text-align: center;
}
legend
{
    font-size: 10px;
    margin-top: 22px;
    text-align: center;
    margin-bottom: 30px;
    color: #A6A6A6;
}
span
{
    font-weight: bold;

}
.navbar ul
{
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
.navbar li
{
 padding:0;
 background-color:#FAFAFA;

}
.navbar li a
{
    display:block;
 width:100px;
 color: black;
 text-decoration:none;
 padding:5px;
}
.navbar li a:hover
{
    color: darkred;
}
.navbar ul
{
    display: none;

}
.navbar li:hover ul
{
    display: block;
}
.navbar li ul
{
    position: absolute;
}
.navbar ul > li
{
    display: block;
}

.navbar li:hover ul
{
    display: block;

}

nav > ul > li
{
    display: inline-block;

}
.navbar>li
{
    margin-left: 30px;
}
.article
{
line-height: 1.5em;
font-size: 13px;
color: #505050;
}
.article p
{
    margin-bottom: 2em;
}

hr
{
    width: 900px;
    height: 40px;
    background-color: #FAFAFA;
    border: none;
}

footer p
{
    text-align: center;
    color: #505050;
    font-weight: bold;
    padding-top: 37px;
    padding-bottom: 37px;
}

#fin
{
    box-sizing: content-box;
    background-color: #FAFAFA;
    padding-top: 1em;
    padding-left: 1em;
    margin-left: 50px;
    margin-right: 50px;
}
